@import "Util";

&{
    scrollbar-width: thin;
    scroll-behavior: smooth;
    scrollbar-color: $grey;

}


&::-webkit-scrollbar{
    width: 5px;
}

&::-webkit-scrollbar-thumb{
    background: $grey;;
    width:7px;
    border-radius:20px;
}
&::-webkit-scrollbar-track-piece{
    background:transparentize($color:$grey, $amount: 0.6) ;
}