$grey: #888888;
$orange: #f48a21;
$skyBlue: #3498db;
$red: #e74c3c;
$green: #2ecc71;
$navy: #1d3f67;
$vl-blue: #e7f2ff;
$border-thin: transparentize($grey, 0.5);

//arry of colors
// $colors: $grey, $green, $red, $skyBlue;
// @each $color in $colors {
// }

.badge-btn {
    border: none;
    border-radius: 50px;
    font-size: 13px;
    padding: 5px;
    &.green {
        background: $green;
    }
    &.orange {
        background: $orange;
    }
    &.red {
        background: $orange;
    }
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
